<div class="wrapper-page">
        <div class="card-box">
            <div class="panel-heading">
                <h4 class="text-center"> Sign In </h4>
            </div>
            <div class="p-20">
                {{#if flash.error}}
                    <div class="alert alert-danger">
                    {{{flash.error}}}
                    </div>
                    {{!-- <pre>{{session.error}}</pre> --}}
                {{/if}}
                <form class="form-horizontal m-t-20" action="/admin/admin-login" method="post">
                    <div class="form-group-custom">
                        <input type="text" id="user-name" name="email" required="required"/>
                        <label class="control-label" for="user-name">Email</label><i class="bar"></i>
                    </div>
                    <div class="form-group-custom">
                        <input type="password" id="user-password" name="password" required="required"/>
                        <label class="control-label" for="user-password">Password</label><i class="bar"></i>
                    </div>
                    <div class="form-group text-center m-t-40">
                        <div class="col-12">
                            <button class="btn btn-success btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <script>
            var resizefunc = [];
        </script>
</div>        
