      <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                            <li class="text-muted menu-title">Navigation</li>
                            <li >
                                <a href="/admin/dashboard" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span>
                                </a>
                            </li>
                             <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-menu-alt"></i> <span> Categories </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/admin/categories">Categories List</a></li>
                                    <li><a href="/admin/category/add">Add New Category</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-menu"></i> <span> Listing Types </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/admin/listing-types">Listing Types</a></li>
                                    <li><a href="/admin/listing-type/add">Add New Type</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-user"></i> <span> Admin Users </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/admin/users">Users List</a></li>
                                    <li><a href="/admin/user/add">Add New</a></li>
                                    <li><a href="/admin/user/roles">Roles</a></li>
                                    <li><a href="/admin/user/role/add">Add Roles</a></li>
                                    <li><a href="/admin/user/permissions">Permissions</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-files"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/admin/pages">Pages</a></li>
                                    <li><a href="/admin/page/add">Add New Page</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-light-bulb"></i> <span> FaQs </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/admin/faqs">FaQs</a></li>
                                    <li><a href="/admin/faq/add">Add New FaQ</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-ad"></i> <span> Ads </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/admin/ads">Ads</a></li>
                                    <li><a href="/admin/ads/add">Add New Ads</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-money"></i> <span> Subscriptions </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/admin/subscriptions">Subscriptions</a></li>
                                    <li><a href="/admin/subscription/add">Add New </a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="/admin/settings" class="waves-effect"><i class="md md-settings"></i> <span> Seetings </span></a>
                                
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
		</div>
	</div>
<!-- Left Sidebar End -->