<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Add Category</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Adolaa</a></li>
            <li class="breadcrumb-item active">Add Category</li>
        </ol>
    </div>
</div>