<!DOCTYPE html>
<html lang="en" class data-color-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="16x16" href="/adolaa-thumb-32x32-ico.png">
  <title>{{title}}</title>
  <link href="/user/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="/user/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
  <link href="/user/css/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">

</head>
<body>
   {{> user_header}}
  <div class="page-content">
    {{> user_nav}}
    {{{body}}} <!-- Main content will be injected here -->
  </div>
  {{> user_footer}}

  <script src="/user/js/bootstrap.bundle.min.js"></script>
  <script src="/user/js/app.js"></script>
</body>
</html>
