<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Add Category</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Adolaa</a></li>
                <li class="breadcrumb-item"><a href="/admin/categories">Categories</a></li>
                <li class="breadcrumb-item active">Add Category</li>
            </ol>
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <a href="/admin/categories" class="btn btn-default btn-md waves-effect waves-light m-b-30 pull-right"><i class="md md-list"></i> All Categories</a>
    </div>
</div>
        <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-9">
            <div class="card-box">
                <h4 class="text-dark header-title m-t-0">Add Category</h4>
                {{#if flash.error}}
                    <div class="alert alert-danger">
                    {{{flash.error}}}
                    </div>
                {{/if}}
                {{#if flash.success}}
                    <div class="alert alert-success">
                    {{{flash.success}}}
                    </div>
                {{/if}}
                <form id="catForm" action="/admin/category/save" method="post" enctype='multipart/form-data' onsubmit="return saveData();">
                    
                    <div id="slugApp">
                        <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input name="name" autocomplete="name" type="text" id="name" class="form-control" required="" v-model="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Slug</label>
                        <input name="slug" v-model="slug" autocomplete="name" type="text" id="slug" class="form-control" required="">
                    </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Icon</label>
                        <div >
                            <button type="button" class="btn btn-secondary" role="iconpicker" name="icon"></button>
                        </div>
                    </div>
                    {{!-- <div class="mb-3">
                        <label class="form-label" for="">Description</label>
                        <textarea id="tinymce-description"  name="description" rows="5" class="form-control tinymce" aria-hidden="true"></textarea>
                    </div> --}}
                    <div class="mb-3">
                        <label class="form-label" for="">Status</label>
                        <div>
                            <input type="checkbox" checked="" data-plugin="switchery" data-color="#1bb99a" data-switchery="true" name="status">
                        </div>
                    </div>
                    <div class="mb-3">
                        <hr style="border: 1px dashed #5a5858;" class="mt-0 mb-1">
                    </div>
                    <div class="mb-3">
                        <button id="saveBtn" type="submit" class=" waves-light btn btn-success btn-md waves-effect"><i class="md md-add"></i>Save</button>
                    </div>
                    <div id="outMsg" class="mb-3">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> <!-- container -->
</div> <!-- content -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.10.0/css/bootstrap-iconpicker.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.10.0/js/bootstrap-iconpicker.bundle.min.js"></script>
{{!-- <script src="/admin/js/tinymce.min.js"></script> --}}
<script src="https://cdn.tiny.cloud/1/xe0yrjzxxk4vt0m1103e4dazp7y4qisilkaiji7iozziavt1/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">

<script type="text/javascript" src="/admin/js/addform.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.tinymce",
        language: 'en',
        directionality: 'ltr',
        height: 400,
        menubar: false,
        statusbar: false,
        plugins: 'lists link table code',
        toolbar: 'undo redo | bold italic underline | forecolor backcolor | bullist numlist blockquote table | link unlink | alignleft aligncenter alignright | outdent indent | fontsizeselect | code',
     });
</script>




