    <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            
                <div class="content">
                    <div class="container-fluid">
                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="page-title">Listing Types List</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Adolaa</a></li>
                                    <li class="breadcrumb-item active">Listing Types</li>
                                </ol>
                            </div>
                        </div>
                        <!-- end row -->


                        
                    </div> <!-- container -->

                </div> <!-- content -->

               


